<%= simple_form_for(@phoneme) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :base %>
    <%= f.input :actual %>
    <%= f.input :diacritic %>
    <%= f.input :sequence %>
    <%= f.association :speaker %>
  </div>

  <div class="actions form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <%= f.submit %>
    </div>
  </div>
<% end %>
