<p id="notice"><%= notice %></p>

<h1>Listing Speakers</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>City</th>
      <th>State</th>
      <th>Country</th>
      <th>Native language</th>
      <th>Other languages</th>
      <th>Age</th>
      <th>Gender</th>
      <th>English onset</th>
      <th>Learning method</th>
      <th>English country residence</th>
      <th>Length english residence</th>
      <th>User</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @speakers.each do |speaker| %>
      <tr>
        <td><%= speaker.name %></td>
        <td><%= speaker.city %></td>
        <td><%= speaker.state %></td>
        <td><%= speaker.country %></td>
        <td><%= speaker.native_language %></td>
        <td><%= speaker.other_languages %></td>
        <td><%= speaker.age %></td>
        <td><%= speaker.gender %></td>
        <td><%= speaker.english_onset %></td>
        <td><%= speaker.learning_method %></td>
        <td><%= speaker.english_country_residence %></td>
        <td><%= speaker.length_english_residence %></td>
        <td><%= speaker.user %></td>
        <td><%= link_to 'Show', speaker %></td>
        <td><%= link_to 'Edit', edit_speaker_path(speaker) %></td>
        <td><%= link_to 'Destroy', speaker, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Speaker', new_speaker_path %>
