<%= simple_form_for(@speaker) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :name, required: true %>
    <%= f.association :city, required: true %>
    <%= f.association :state %>
    <%= f.association :country, required: true %>
    <%= f.association :native_language, required: true %>
    <%= f.input :other_languages, label: '# Other Languages Known: ', required: true %>
    <%= f.input :age, required: true %>
    <%= f.input :gender, as: :select, collection: Speaker.genders.keys.to_a, required: true %>
    <%= f.input :english_onset, required: true %>
    <%= f.input :learning_method, as: :select, collection: Speaker.learning_methods.keys.to_a, required: true %>
    <%= f.association :english_country_residence %>
    <%= f.input :length_english_residence, required: true %>
  </div>

  <div class="actions form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <%= f.submit %>
    </div>
  </div>
<% end %>
